body{
    background-color: #e8deeb;
}



.container2 {

    padding-top: 16%;
    padding-bottom: 10%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
    
    
  }
  
  .card {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #cc9ed9;
    border: 2px solid #161819;
    border-radius: 5px;
    width: 50%;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btnEditar {
    color: white;
    border-color: #dfe1e4;
  }
  
  .btn-outline-primary:hover {
    background-color: #a2abb5;
    color: #fff;
  }

  .form-label{
    padding-right: 0px;
  }
  
  